:root{
  --colorMarca: #012f99;
  --colorTitulos1: #a648a0;
  --colorTitulos2: #11aad1;
  --colorMenuMovil1: #2BD2BE;
  --colorMenuMovil2: #2FB8A8;
  --colorLetraMenu1: #ffffff;
  --colorLetraMenu2: #FFEB05;
  --colorFondoEtiquetas1: #F57C9D;
  --colorFondoEtiquetas2: #B67CF5;
  --colorTextos1: #000000;
  --colorTextos2: #66666F;
  --colorTextos3: #845093;
  --background1: #E7EAF2;
  --background2: #F3F3F3;
  --background3: #F9F9F9;
  --letra1:'Poiret One', cursive;
  --letra2:'Poppins', sans-serif;
}


/********************************************************************************************/

/*************************************BOX TITLE CSS******************************************/

/********************************************************************************************/
.box-title{
  background-color: var(--colorMenuMovil1);
  width: 100%;
  text-align: center;
  color: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.box-item{
  position:absolute;
  bottom: -40px;
  z-index: 500;
  width: 0;
  height: 0;
  border-right: 35px solid transparent;
  border-left: 35px solid transparent;
  border-bottom: 40px solid var(--colorMenuMovil1);
  transform: rotate(180deg);
  overflow: hidden;
}

/* clases  */
.pink{
  background-color: var( --colorFondoEtiquetas1);
}
.b-pink{
  border-bottom-color:var(--colorFondoEtiquetas1);
}
.p-fluid{
  padding-right: 0;
  padding-left: 0;
}
/* clases  */

.title-box{
  font-family: var(--letra1);
  font-size: 50px;
  position: relative;
  z-index: 700;
}
@media (max-width:480px){
  .box-item{
    bottom: -40px;
  }
  .title-box{
    font-size: 25px;
  }
}
@media (min-width:480px){
  .box-item{
    bottom: -40px;
  }
  .title-box{
    font-size: 30px;
  }
}

/********************************************************************************************/

/*******************************************NAV CSS******************************************/

/********************************************************************************************/

.bg-light{
  background-color: #ffffff!important; /*Important que pisa el color de bootstrap por defecto*/
}
.navbar{
  padding: 35px 0;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  
}
.navbar-brand{
  padding-left: 35px;
  margin-right: 0;
}
.navbar-brand img{
  width: 80%;
}
.lupa:before{
  /* position: absolute; */
  display: block;
  font-size: 32px;
  color: var(--colorMenuMovil1);
}
.btn-search{
  background-color: transparent;
  outline: none;
  border:none;
  cursor: pointer;
}
.btn-search:focus{
  outline: none;
}
.btn-search-modal, .input-search-lupa{
  background-color: var(--colorMenuMovil1);
  color: #ffffff;
}
.input-search:focus{
  outline-color: red;
}
@media (max-width:991px){
  .navbar-toggler{
    border: none;
    padding-right: 0;
    padding-left: 0;
  }
  .navbar-toggler:focus{
    outline: none;
  }
  .navbar-collapse{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
    width: 100%;
    margin-top: 35px;
    background-color: var(--colorMenuMovil1);
    /* margin-top: 45px; */
  }
  .nav-item{
    margin: 0!important;
  }
  .dropdown-item:hover{
    background-color: var(--colorMenuMovil2);
  }
  .navbar-collapse ul{
    width: 100%;
  }
  .navbar-collapse ul li a{
    color: var(--colorLetraMenu1)!important;
    font-size: 15px;
    /* font-weight: 600; */
    font-family: var(--letra2);
    letter-spacing: 1px;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 40px!important;
  }
  .navbar-collapse ul li a:hover{
    color: var(--colorLetraMenu2)!important;
  }
  a[aria-expanded="true"]:focus{
    color: var(--colorLetraMenu2)!important;
  }
  .dropdown-toggle::after{
    display: none;
  }
  .dropdown-menu{
    background-color: var(--colorMenuMovil2)!important;
    border: none;
    width: 100%;
    text-align: center;
  }
  .nav-item{
    margin: 0 20px;
    border-bottom: 1px solid rgba(255,255,255,.4);
  }
   a.dropdown-item{
    margin: 0;
    padding: 5px 0!important;
  }
  .color-active{
    background-color: var(--colorLetraMenu2)!important;
  }
}
/* burguer color */
.hamburger-inner{
  right: 20px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: var(--colorMenuMovil1);
}
/* burguer color */
@media (max-width:576px){
  .xs-none{
    display: none;
  }
}
.jumbo .jumbotron{
  margin-bottom: 0;
}
.underJumbo{
  margin-bottom: 0;
}
.underJumbo img{
  max-width: 100%;
}

.third-slide{
  position: relative;
}
.carousel-caption{
  margin-left:auto;
  margin-right:auto;
  left:0;
  right:0;
  top: 0;
  bottom: 50%;
  width: 80%;
}
.carousel-caption img{
  width: 12%;
}
.carousel-caption h5{
  color: var(--colorMenuMovil1);
  font-size: 20px;
}
.carousel-caption p
{
  color: var(--colorTextos1);
  font-size: 100%;
}
/* custom imagenes corousel */
.custom{
  max-width: 80%;
  margin: 0 auto;
  padding-top: 40px;
    }  
/* custom imagenes corousel */
.quarter-carrousel, .fifth-carrousel{
  /* margin-top: 40px; */
}
.sixth-carrousel .carousel-item, .second-carrousel .carousel-item{
  background-color: var(--background1);
}
.second-carrousel .carousel-item{
  padding-top: 10px;
}
.box-title-3{
  background-color: var(--colorFondoEtiquetas2);
}
.box-item-3{
  border-bottom-color: var(--colorFondoEtiquetas2);
}

.sixth-carrousel{
  margin-bottom: 30px;
}

/* galeria de imagenes */

.galery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}
.galery a{
  display: block;
  max-width: 33%;
}
.galery a img{
  max-width: 100%;
  padding: 5px;
}

/* Box Map */
.box-map{
  margin: 40px 0;
  display: flex;
}
.box-map iframe{
  max-width: 100%;
  margin: 0 auto;
}

/* Box Map */

/* btn ver mas Workshops & academias */
.ver-mas{
  color:var(--colorMenuMovil1);
  margin: auto;
  font-size: 18px;
}
.ver-mas:hover{
  color: var(--colorMarca);
  text-decoration: none;
}
/* btn ver mas Workshops & academias */
/* Galery Academias */
.galery-academias{
  margin-top: 40px;
}
/* Galery Academias */
/* canvas */
  /* jumbo-canvas */
  .img-canvas{
    margin-top: 15px;
    width: 70%;
  }
  .hr-canvas{
    width: 3%;
    height: .5px;
    background-color:var(--colorMenuMovil1);
    padding: .5px 0;
  }
  .lead-canvas{
    color: var(--colorMenuMovil1);
  }
  .jumbo-canvas{
    margin-bottom: 30px;
  }
  /* jumbo-canvas */
/* canvas */

/* Preguntas frecuentes */
  /* cards */
  .accordion{
    border: none;
  }
  .card-header{
    background-color: #fff;
  }
  /* cards */
  /* btn & span  */
  .preguntas-frecuentes{
    margin-bottom: 30px;
  }
  
  .icon-preg{
    width: 50px;
    height: 50px;
    padding: 5px;
    margin-right: 5px;
    color: var(--colorMenuMovil1);
    border: 1.5px solid var(--colorMenuMovil1);
  }
  .btn-preg{
    color: var(--colorTextos1);
    text-decoration: none;
    font-weight: 600;
  }
  .btn-preg:hover{
    text-decoration: none;
    color: var(--colorTextos1);
  }
  /* btn & span  */
/* Preguntas frecuentes */
/* Footer */

.footer{

}
.social{
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 0;
  margin: auto;
  margin-bottom: 30px;
}
.social li{
  width: 30px;
  height: 30px;
  background-color: #326EA6;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
}
.social li a{
  color: var(--colorLetraMenu1);
  transition: ease-in-out .3s;
}

.social li:hover a{
 font-size: 1.3em;
}
.col-by{
  width: 100%;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.col-by p:nth-child(2){
  padding-top: 0;
  margin-top: -15px;
}


/* Custom stilos carousel controls*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: rgb(43, 43, 44);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: rgb(43, 43, 44);
}
.carousel-indicators li{
  background-color: #39393B;
  width: 11px;
  height: 11px;
  border-radius: 100%;
  margin: 0 10px;
}
.carousel-indicators li.active{
  background-color: var(--colorMenuMovil1);
}
/* Custom stilos carousel controls*/

/* Desktop Styles */
@media (min-width:992px){
  .navbar-brand img{
    width: 100%;
  }
  .p-fluid{
    padding-right: 50px;
    padding-left: 50px;
    background-color: var(--background1);
  }
  .navbar-nav{
    width: 100%;
    justify-content: flex-end;
    padding-right: 50px;
  }
  .nav-item-desktop{
    margin: 0 25px;
  }
  .navbar-nav .nav-item a.link-desktop{
    color: var(--colorMenuMovil1);
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: var(--letra2);
    text-transform: uppercase;
  }
  .navbar-nav .nav-item.active a.link-desktop{
    color: var(--colorMarca);
  }
  .navbar-nav .nav-item.active a.link-desktop:hover{
    color: var(--colorMenuMovil1); 
  }
  .navbar-nav .nav-item a.link-desktop:hover{
    color: var(--colorMarca);
  }

  /* first carrusel */
  .first-carrousel-desktop .carousel-inner-desktop{
    height: 84vh;
    max-height: 100%;
  }
  .first-carrousel-desktop .carousel-inner-desktop .carousel-item img{
    object-fit: cover;
  }
  /* first carrusel */
  /* box title #1 */
  .desktopbox-title{
    text-align: center;
    background-color: transparent;
    overflow: hidden;
  }
  .desktopbox-title .title-boxDesktop{
    color: var(--colorFondoEtiquetas2);
    padding: 50px 0;
    font-size: 27px;
    letter-spacing: 1px;
    font-family: var(--letra2);
  }
  /* box title #1 */

  /* box Product #1 */
  .boxProduct-desktop{
    overflow: hidden;
    background-color: var(--background2);
    padding: 50px 0;
  }
  .col-img-BoxProduct-desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  .img-productBox-desktop{
    max-width: 80%;
  }
  .col-text-BoxProduct-desktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;

  }
  .text-productBox-desktop{
    font-size: 23px;
    font-family: var(--letra1);
    font-weight: 600;
    padding: 0 50px;
  }
  /* box Product #1 */
  /* box Product-description #1 */
  .boxProduct-descriptionDesk{
    display: flex;
  }
  .boxProduct-descriptionDesk .row{

    background-color: var(--background3);
    margin: 0;
  }
  .row-boxDescription-desktop{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
  }
  .colDescription-desktop{
    display: flex;
    align-items: center;
    padding-right: 0;
  }
  .colDescription-desktop img{
    width: 50px;
    height: 50px;
    margin: 0 20px;
  }
  .interBox-textDescription .titleBoxDescription-desktop{
    color: var(--colorMenuMovil1);
    font-family: var(--letra2);
    font-size: 20px;
  }
  .interBox-textDescription .textDescription-desktop{
    font-size: 18px;
  }
  .col-imgBoxDescription-desktop{
    width: 100%;
    padding: 0;
  }
  .img-BoxDescription-desktop{
    width: 100%;
  }
  /* box Product-description #1 */

  /* box Accesorios */
  .box-accesorios-desktop{
    background-color: var(--background2);
    padding-bottom: 10px;
  }
  .title-accesoriosBox{
    padding: 50px 0;
    padding-left: 25px;
    font-family: var(--letra1);
  }
  .title-accesoriosBox h3{
    font-size: 40px;
  }
  .navegacion-accesoriosBox{
    background-color:var(--colorFondoEtiquetas2);
    margin: 0 25px;
    padding: 5px 0;
    margin-bottom: 25px;
  }
  .navegacion-accesoriosBox .nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .navegacion-accesoriosBox .nav .nav-item{
    padding: 0 20px;
  }
  .navegacion-accesoriosBox .nav-item{
    border-right: 2px solid var(--colorTextos3);
    margin: 10px 0;
  }
  .navegacion-accesoriosBox .nav-item .nav-link{
    color:var(--colorLetraMenu1);
    font-family: var(--letra2);
    letter-spacing: 1.5px;
    font-weight: normal;
    text-align: center;
    width: 100%;
  }
  .navegacion-accesoriosBox .nav-item .nav-link.active{
    color: var(--colorTextos3);
  }
  .navegacion-accesoriosBox .nav-item .nav-link.active:hover{
    color: var(--colorLetraMenu1);
  }
  .navegacion-accesoriosBox .nav-item .nav-link:hover{
    color: var(--colorTextos3);
  }
  .navegacion-accesoriosBox .nav-item:last-child{
    border-right: none;
  }

  /* slide Productos / accesorios  */
  .slideProductos-accesoriosBox{
    margin: 0 25px;
    background-color: #fff;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .swiper-slide-next{
    background-color:var(--background2);
  }
  .slideProductos-accesoriosBox .img-swiper{
    max-width: 100%;
  }
  .description-accesorio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    font-family: var(--letra2);
  }
  .description-accesorio .title-accesorio{
    font-size: 20px;
    margin-bottom: 25px;
    color: var(--colorFondoEtiquetas2)
  }
  .description-accesorio .text-accesorio{
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--colorTextos1);
    text-align: center;
  }
  /* slide Productos / accesorios  */
  /* box Accesorios */

  /* box Proyectos */
  .boxProyectos-descktop{
    background-color: var(--background2);
    padding: 25px;
    padding-top: 0;
  }

  .title-boxProyectos{
    padding: 50px 0;
    padding-left: 25px;
    font-family: var(--letra1);
  }
  .title-boxProyectos h3{
    font-size: 40px;
    letter-spacing: 1.2px;
  }
  .rowBoxProyectos{
    padding: 15px;
  }
  .btn-BoxProyectos{
    background-color: var(--colorMenuMovil1);
    padding: 25px 0;
    margin-left: 15px;
    margin-right: 15px;
  }
  .btn-BoxProyectos .link-BoxProyectos{
    padding: 10px 0;
    font-size: 28px;
    text-align: center;
    font-family: var(--letra2);
    color: var(--colorMenuMovil2);
    font-weight: 600;
    letter-spacing: 2px
    max-width: 100%;
  }
  .btn-BoxProyectos .link-BoxProyectos:hover{
    text-decoration: none;
    color: var(--colorMarca);
  }
  /* box Proyectos */

  /* box desktop Footer */
.desktop-footer{
  display: flex;
  justify-content: space-between;
  padding: 50px 40px;
  align-items: center;
  background-color: #fff;
}
.desktop-footer .social{
  margin-bottom: 0;
}
.desktop-footer .social li{
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-footer .social .facebook{
  background-color: var(--colorMarca);
}
.desktop-footer .social .twitter{
  background-color: var(--colorMenuMovil1);
}
.desktop-footer .social li a{
  font-size: 30px;
}
.col-by-desktop{
  padding: 25px 0;
  text-align: center;
  background-color: var(--background1);
}
.col-by-desktop p{
  font-size: 20px;
}
  /* box desktop Footer */

} /*--Fin Media query min-992px--*/

@media screen and (max-width:576px){
  .d-xs-none{
    display: none!important;
  }
}
/* Desktop Styles */

.logoscanCut{
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoscanCut p{
  color: #005AAF;
  font-family: var(--letra2);
  font-size: 18px;
  letter-spacing: 1.2px;
  font-weight: 600;
}